<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/nextpage.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <%for(i=0;i<nav.length;i++){%>
                <li>
                    <a href="<%=nav[i].link%>" class="logo-text"><%=nav[i].name%></a>
                </li>
                <%}%>
        </div>
        <div class="main-body ">
            <div class="left-section ">
                <div class="pic1 ">
                    <img src="/images/pic1.JPG ">
                </div>
                <div class="pic2 ">
                    <img src="/images/pic2.JPG ">
                </div>


            </div>
            <div class="center-section ">
                <div class="firstline ">
                    <p>Patient’s data stored in the system can be retrieved by the <br>doctors and patient concerned using the data ID given.</p>
                    <div class="data1 ">
                        <p>Request the information...</p>
                    </div>
                </div>
                <div class="secondline ">
                    <p>A doctor can be consulted by a patient/another doctor<br> for a patient’s file</p>
                    <div class="data2 ">
                        <p>Consult the Doctor...</p>
                    </div>
                </div>
               

                </div>
            </div>
            <div class="right-section ">
                <a href="/request"> <button type="button " class="req-btn ">Request</button>
                </a>
                <a href="/consult"> <button type="button " class="req-btn1 ">Consult</button>
                </a>
             
            </div>
        </div>

</body>
</html>