<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/stylelogin.css">

    <script>
        var msg = '<%=msg%>';
        if(msg != ''){
            alert(msg);
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="header">
                    <div class="login ">
                        <a href="/signup">Sign Up</a>
                    </div>
                </div>

                <div class="left-side">
                    <form id="login-form" action="/log/login" method="POST">
                        <table class="align-down">
                            
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Registration ID
                                </td>
                                <td>
                                    <input name="id" type="text" class="input-box" id="id">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Password :
                                </td>
                                <td>
                                    <input name="pass" type="password" class="input-box" id="pass">

                                </td>

                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                        </table>
                        <input type="submit" value="Login" class="signup-btn" id="btn">
                    </form>
                </div>

                <div class="right-side">
                    <img class="align-pic" src="/images/home.JPG" width="600px">
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

    <script>
        $("#login-form").validate({
            rules: {
                emailAddress: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                    minlength: 8
                }

            },
            messages: {
                emailAddress: {
                    required: "Enter email address"
                },
                password: {
                    required: "Enter the Password",
                    maxlength: "enter atleast 8 letters"

                }
            }
        })
    </script>
</body>

</html>