<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/request.css">
    <script>
        var msg = '<%= msg %>';
        if(msg == ''){
            // alert('No message');
        }else{
            alert(msg);
        }
    </script> 
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a class="logo-text"  href="/home"> HOME</a>
            </div>
            <div class="login ">
                <a class="logout" href="/">Log out</a>
            </div>

        </div>
        <div class="main-class">
            <form action="/consult" method="POST">
                <div class="center">
                        <h3>Name of the Doctor</h3>
                        <input type="text" class="input-box" name="name">
                </div>
                <div class="center-right">
                    <input type="submit" class="req-btn">
                </div>
            </form>
            </div>
            <div class="down-right">
                <img src="/images/nextpage2.JPG" width="350px">

            </div>
           
        </div>
        
</body>

</html>